@import "./utils.scss";

.CharactersMain {
  @include default_flex(space-evenly, flex-start);
  flex-direction: column;
  h2{
    margin-top: 3vh;
  }
}

.Character {
  background-color: $default-color;
  border-radius: 20px;
  margin: 26px;
  border: solid 4px;
  figure {
    margin: 16px;
    width: 16vw;
    height: 27vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.CharactersBox {
  @include default_flex(space-evenly, center);
  flex-flow: row wrap;
  padding: 30px;
}

.ButtonBox{
    @include default_flex(center,center);
    height: 12vh;
    width: 100%;
    padding-right: 1.5vw;
    button{
        @include default_flex(center,center);
        width: 11.5vw;
        height: 5.8vh;
        border-radius: 30px;
        border: solid 3px;
        font-size: 1.20vw;
        background-color: $default-color;
        padding-left: 12px;
        &:hover{
           @include default_hover;
        }
    }
    span{
        font-size: 3.25vw;
        margin-bottom: 12px;
        margin-left: 8px;
    }
}