@use "./characters.module.scss";
@import "./utils.scss";

.VillageBox{

  h2{
    margin-top: 48px;
    margin-bottom: 48px;
  }

}

.VillageSection{
  @include default_flex(center,center);
}
.VillagesCharacterBox{
  @extend .CharactersBox;
}
.VillageCharacters{
  @extend .Character;
  @include default_flex(center,center);
  flex-direction: column;
}


.Navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  ul {
    border-radius: 30px;
    border: solid 4px;
    width: 76vw;
    padding: 35px;
    background-color: $default_color;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 17vw;
    font-size: 1.6vw;
    margin-top:8px;
    margin-bottom: 8px;
  }
  
  li:hover {
    opacity: 0.5;
    background-color: white;
    cursor: $hover-cursor;
  }
  img{
    margin-left: 12px;
    width: 2vw;
  }
}

.VillageInfo{
  @extend .Character;
  @include default_flex(space-around,center);
  width: 88vw;
  height: 46vh;
  div{
    height: 39vh;
    width: 33vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
  p{
    width: 46vw;
    font-size: 1.5vw;
    line-height: 3.8vh;
    font-weight: 500;
  }
}
.upButton{
  position: fixed;
  bottom: 5vh;
  right: 2.5vw;
  width: 4.5vw;
  height: 8vh;
  border-radius: 100%;
  font-size: 2vw;
  background-color: $default-color;
  border: solid;
  cursor: $hover-cursor;
  &:hover{
    opacity: 0.5;
  }
}